aiohttp==3.7.2
alembic==1.4.3
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
autopep8==1.5.4
bleach==3.2.1
blinker==1.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cssselect==1.1.0
decorator==4.4.2
dicttoxml==1.7.4
docutils==0.16
Flask==1.1.2
Flask-Dance==3.1.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
future==0.18.2
geocoder==1.38.1
geoip2==4.1.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
ip2geotools==0.1.5
IP2Location==8.5.1
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==21.4.0
lazy-object-proxy==1.5.1
lxml==4.6.1
Mako==1.1.3
maxminddb==2.0.3
mccabe==0.6.1
multidict==5.0.0
oauthlib==3.1.0
packaging==20.4
pip-review==1.1.0
pkginfo==1.6.1
psycopg2==2.8.6
pycodestyle==2.6.0
pycountry==20.7.3
Pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
pyquery==1.4.1
python-dateutil==2.8.1
python-editor==1.0.4
pywin32-ctypes==0.2.0
ratelim==0.1.6
readme-renderer==28.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
selenium==3.141.0
six==1.15.0
SQLAlchemy==1.3.20
SQLAlchemy-Utils==0.36.8
toml==0.10.2
tqdm==4.51.0
twine==3.2.0
typed-ast==1.4.1
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.25.11
URLObject==2.4.3
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
WTForms==2.3.3
yarl==1.6.2
zipp==3.4.0