{% extends "base.html" %}

{% block content %}

<div class="container pt-5">
    <div class="row pl-lg-5 ml-lg-5">
        <div class="col-lg-7 col-12 pl-lg-5">
            <h1 class="upgrade pt-lg-5">Upgrade your links</h1>
            <h2 class="upg-desc pb-4">
                Get one essential solution to generate, share and track branded
                links for every form of communication. Choose your plan below.
            </h2>
        </div>
    </div>

    <div
        style="background-color: #eeeeee; min-width: 100%"
        class="card-deck mb-lg-3 p-lg-5"
    >
        <p
            class="pl-lg-5 pl-3 pb-3"
            style="color: #828387; font-size: 15px; min-width: 100%"
        >
            Save up to 17% when you pay annually
        </p>

        <div class="card mb-6 shadow-sm ml-lg-5">
            <div class="card-header">
                <h4 style="text-align: center; font-size: 20px; font-weight: 500; color: #464c50;" class="my-0">BASIC</h4>
            </div>
            <div class="card-body">
                <h1 style="color: #56575b; font-size: 26px; font-weight: 500" class="card-title pricing-card-title">
                    $35<small class="text-muted">/month</small>
                </h1>
                <ul style="font-weight: 400; color: #56575b; font-size: 16px; line-height: 18px;" class="list-unstyled mt-3 mb-4 pb-5">
                    <li class="pb-5">
                        Create and share branded links that increase engagement
                        and build trust with every click.
                    </li>
                    <li>1,500 Branded Links</li>
                    <li class="pb-1">1 User Seat, 1 Free Custom Domain</li>
                </ul>
                <a style="color: white;" href="{{ url_for("signup") }}" class="btn btn-lg btn-block btn-pricing">
                    Get started
                </a>
            </div>
        </div>

        <div class="card mb-6 shadow-sm mr-lg-5">
            <div class="card-header">
                <h4 style="text-align: center; font-size: 20px; font-weight: 500; color: #464c50;" class="my-0">CUSTOMIZED SOLUTIONS</h4>
            </div>
            <div class="card-body">
                <h1 style="color: #56575b; font-size: 26px; font-weight: 500" class="card-title pricing-card-title">
                    GET A QUOTE
                </h1>
                <ul style="font-weight: 400; color: #56575b; font-size: 16px; line-height: 18px;" class="list-unstyled mt-3 mb-4">
                    <li class="pb-5">
                        Solutions tailored to the needs of growing and
                        established companies looking to drive brand loyalty,
                        scale multichannel campaigns, and collaborate across
                        teams.
                    </li>
                    <li>Choose from:</li>
                    <li>3,000 - 500,000+ Branded Links</li>
                    <li>1 - 1,000+ User Seats</li>
                    <li>1 - 100+ Custom Domains</li>
                </ul>
                <a style="color: white;" href="{{ url_for("pricing") }}" class="btn btn-lg btn-block btn-pricing">
                   Get a Quote
                </a>
                <p class="pt-3" style="font-size: 15px; text-align: center;"><strong>Talk to Sales: </strong>+91-9090909090</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}