{% extends "base.html" %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12 privacy">
                <h1>
                    Bitly Privacy Policy
                </h1>
                <h4 class="pb-4">
                    Effective Date: December 4th, 2019
                </h4>

                <p>
                    Welcome to Bitly. This Privacy Policy describes the policies and procedures of Bitly, Inc. (“Bitly”, “we” or “us”) on the collection, use, security and disclosure of personal information about you on <a href="/">https://bitly.com</a>                        (the “Site”) and the services, features, content or applications offered by Bitly (collectively with the Site, the “Services”). It also describes your choices regarding use, access and correction of your personal information.
                </p>

                <h5>Scope</h5>

                <p>
                    This Privacy Policy covers the treatment of the personal information gathered by Bitly when you use or access the Services, or when you view or interact with a Bitly link (either our bit.ly links of one of our branded domains). This Privacy Policy also
                    covers Bitly’s treatment of any information about you that Bitly’s customers share with Bitly.
                </p>

                <p>
                    This Privacy Policy does not apply to the practices of other businesses that Bitly does not own or control, including other companies’ websites, services and applications (“Third Party Services”) that you can access through the Services, such as Facebook
                    or Twitter, or to individuals that Bitly does not manage or employ. We cannot take responsibility for the content or privacy policies of those Third Party Services. We encourage you to review the privacy policies of any Third Party
                    Services you access.
                </p>

                <h5>Information We Collect</h5>

                <p>Bitly may collect personal information about you as described in this Privacy Policy when you (i) register for the Site and the Services, through your user account with Bitly, including registering through a third-party social networking
                    service (your “Account”), (ii) use the Services, or (iii) view or interact with a Bitly link (either our bit.ly links or one of our branded domains) on a third-party website. We collect the following types of information from you,
                    some of which might be considered personal information under applicable law.
                </p>

                <strong>When You Register for a Bitly Account</strong>
                <p>When you create an Account, we may collect personal information from you, such as your name, phone number, company name, industry, job title, company size and email address. If you create an Account using your login from a third-party
                    account, such as Google, Facebook or Twitter, we will access and collect the personal information about you that the third-party account provides (which is based on your privacy settings with the third-party account), so that you
                    can log into your Account with us. We use your contact information to send you information about our Services and communicate with you about your Account, your activities on our Site and Services and policy changes. You may unsubscribe
                    from receiving certain types of these messages through your Account settings, although Bitly reserves the right to contact you when we believe it is necessary, such as for administrative and account management purposes.
                </p>

                <p>Some features of the Services allow registered users to provide their own content to the Services, such as written descriptions of URLs, comments, images and video. Unless you request deletion of your personal information as described
                    in this Privacy Policy, all content submitted by you to the Services may be retained by Bitly, even after you terminate your Account and may continue to be shared by third parties, as described in this Privacy Policy.
                </p>

                <strong>When You Register for a Bitly Account</strong>
                <p>
                    One feature of the Services is the ability to create shortened uniform resource locators (URLs) of websites (“Bitly Link” or “Bitlinks”). Users can create Bitly Links without registering for an account. When you create a Bitly Link, Bitly collects and
                    stores both the original URL and the shortened URL and, if you are logged in to your Account, we will associate that information with your Account. Bitly also collects and stores your IP address, your location, which we derive
                    from your IP address, the time and date on which you shortened the original URL, and if you share a Bitly Link on a social networking platform, the name of the platform and your username on that platform.
                </p>

                <strong>When You Interact With a Bitly Link</strong>
                <p>
                    Bitly automatically collects personal information about the interaction (such as clicks or views) with every Bitly Link created through the Services (either our bit.ly links or one of our branded domains) on a third-party website. This information includes,
                    but is not limited to: (i) the IP address and location derived from the IP address; (ii) the referring websites or services; (iii) the time and date of each access; (iv) device settings, such as browser type, operating system,
                    and language; (v) cookies, as described below, and mobile advertising identifiers and (v) information about sharing of the Bitly Link on Third Party Services such as Twitter and Facebook (collectively, “Bitly Link Metrics”). As
                    described in this policy, we use Bitly Link Metrics to provide the Services, to understand and analyze how our Services are used and to identify trends, and to detect, deter and prevent malicious, fraudulent or unlawful activity.
                    Please see the “Information We May Share” section of this Privacy Policy for a description of how we may share information we collect when you create, view or interact with Bitly Links.
                </p>

                <strong>Other Information We Automatically Collect</strong>
                <p>
                    When you visit the Site, we automatically collect (i) your IP address and location derived from the IP address; (ii) the referring websites or services; (iii) the time and date of each access; (iv) device settings, such as browser type, operating system,
                    and language; and (v) cookie information. This type of data enables us and third parties authorized by us to figure out how often individuals use parts of the Site so that we can analyze and improve them. We may receive a confirmation
                    when you open an email from us. We use this confirmation to improve our customer service. Bitly may use third-party APIs and software development kits (“SDKs”) to provide certain functions in our Services.
                </p>

                <strong>Third Party Services</strong>
                <p>
                    Some features of the Services allow you to share your content and Bitly Links through your accounts with other companies such as Facebook and Twitter. If you choose to connect Bitly to such Third Party Services, we may collect information related to your
                    use of those Third Party Services, such as authentication tokens that allow us to connect to your Third Party Service accounts. We will ask you for permission before you authorize our collection of this information. We will only
                    use that information for the specific reason for which it was provided to us. We may also collect information about how you are using the Services to interact with those connected Third Party Services. Note that Third Party Services
                    may have the ability to restrict the information that is provided to us based on your privacy settings of that account.
                </p>

                <p>
                    To enable us to infer the location from the IP addresses of computers or devices that visit our website or click, view or interact with Bitly links as described in this policy, we receive IP-based location information from our third-party service provider.
                    We also receive business contact information of our business customer contacts and prospects from our third party service provider.
                </p>

                <strong>Cookies and Other Similar Technologies</strong>
                <p>
                    Bitly and its partners use cookies or similar technologies to analyze trends, administer the website, track users’ movements around the website, and to gather demographic information about our user base as a whole.
                </p>
                <p>
                    Cookies are pieces of text that may be provided to your computer through your web browser when you access a website. Your browser stores cookies in a manner associated with each website you visit. We use cookies to enable our servers to recognize your
                    web browser and tell us how and when you visit our Site and use the Services through the web.
                </p>
                <p>
                    Bitly cookies also allow Bitly to track when you have clicked on a Bitly Link. Each click of a Bitly Link is tracked using a unique identifier assigned to you in one or more cookies stored by your web browser and associated with Bitly. We may associate
                    the unique identifier in our cookies with the other information we automatically collect when you use the Services, as described above, including your IP address, Bitly Links you click, Bitly Links you create, and information with
                    your Account if you have one.
                </p>
                <p>
                    Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance of each new cookie
                    in a variety of ways. If you disable cookies, you will not be able to use some features of the Services.
                </p>
                <p>
                    We partner with third parties to track utilization and behavior on our websites, display advertising on our websites, and to manage our advertising on other sites. Our third-party partners may use cookies, web beacons, pixel tags or similar technologies
                    in order to provide you advertising based upon your browsing activities and interests. If you wish to opt out of interest-based advertising click here or if located in the European Union click here.
                </p>
                <p>
                    This Privacy Policy covers the use of cookies by Bitly only and does not cover the use of cookies by any Third Party Services. Bitly does not control when or how third parties place cookies on your computer, such as when you visit the website from a Bitly
                    Link. You can manage other companies’ cookies used for online advertising by visiting the Digital Advertising Alliance’s Consumer Choice Page.
                </p>

                <strong>Opt-Out Mechanisms</strong>
                <p>
                    You may ask Bitly not to associate your web browser or IP address with visits to the Bitly.com website or Bitly Links that you create or click by clicking on the appropriate links below. If you would like to opt-out of the Bitly Links, please click on
                    the opt-out choice for Bitly Links below. This will install a cookie on your browser that instructs our servers not to associate your IP address and browser with Bitly Links you create, click or view. If you clear your cookies
                    in your browser, you will need to click on the opt-out choice again after each time you clear your cookies. To be clear, these cookie-based opt-outs must be performed on each device and browser that you wish to have opted-out.
                    Cookie-based opt-outs are not effective on mobile applications. However, on many mobile devices, application users may limit tracking via their device settings. Please note that if you use these opt-out mechanisms, will still automatically
                    collect the IP addresses of computers or mobile devices that click on or create Bitly Links; we just won’t associate them with your browser or Bitly account.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}