 {% extends "base-no-nav.html" %}

 {% block content %}

<section class="form-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col pt-lg-5 pt-1 px-lg-5 mx-lg-5">
                <form class="form-signin px-lg-5" method="POST">
                    <div class="py-4 form-heading" style="text-align: center">
                        <h3>Log in and start sharing</h3>
                        <span>Don't have an account?
                  <a class="top-link" href="{{ url_for("signup") }}"><u>Sign Up</u></a>
                </span>
                    </div>

                    <p style="text-align: center;">Log in with:</p>

                    <div class="container">
                        <div class="row third-party">
                            <div class="col-lg-3 col-12 pr-5 pr-lg-3 pl-4 pl-lg-3 py-2">
                                <a class="btn btn-sm btn-primary btn-block btn-signin" href="{{ url_for("google.login") }}">
                                    <i class="fab fa-google"></i> Google
                                </a>
                            </div>

                            <div class="col-lg-3 col-12 pr-5 pr-lg-3 pl-4 pl-lg-3 py-2">
                                <a class="btn btn-sm btn-primary btn-block btn-signin" href="{{ url_for("twitter.login") }}">
                                    <i class="fab fa-twitter"></i> Twitter
                                </a>
                            </div>

                            <div class="col-lg-3 col-12 pr-5 pr-lg-3 pl-4 pl-lg-3 py-2">
                                <a class="btn btn-sm btn-primary btn-block btn-signin" href="{{ url_for("facebook.login") }}">
                                    <i class="fab fa-facebook"></i> Facebook
                                </a>
                            </div>

                            <div class="col-lg-3 col-12 pr-5 pr-lg-3 pl-4 pl-lg-3 py-2">
                                <a class="btn btn-sm btn-primary btn-block btn-signin" href="{{ url_for("github.login") }}">
                                    <i class="fab fa-github"></i> Github
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <hr class="hr-text" data-content="OR" />
                    </div>

                    <label class="input-label" for="username">Email address or Username</label>
                    <input id="username" type="text" class="form-control" name="username" required autofocus />

                    <label style="padding-top: 15px" class="input-label" for="password">Password</label
              >
              <input
                id="password"
                type="password"
                class="form-control"
                name="password"
                required
              />
                {% if flag == True %}
                    <h6 style="color: #f85c52; font-size:13px;">Nope. Try Again</h6>
                {% endif  %}

              <p style="text-align: right;"><a class="top-link" href="#"><u>Log in with SSO</u></a></p>

              <button
                class="btn btn-lg btn-primary btn-block btn-signup-email"
                type="submit"
              >
                Log in
              </button>

              <p style="text-align: center;"><a class="top-link" href="#"><u>Log in with SSO</u></a></p>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}